.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.card__title {
  font-size: 20px;
  line-height: 1.2;
  max-width: 288px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #212121;
}

.card__like-button {
  background-image: url(../images/heart.svg);
  height: 20px;
  width: 23px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.card__like-button:hover {
  opacity: 100%;
  transition: 0.5s;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 250px;
    font-size: 16px;
  }

  .card__content {
    font-size: 16px;
    line-height: 100%;
  }
}
